body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.main-card .main-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.main-card button {
  position: relative;
  left: -40px;
  top: -10px;
}

.favorits {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.favorits li {
  list-style: none;
}

.favorits img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}